In [5]:
import pandas as pd
import numpy as np

# Load dataset

In [11]:
cities = pd.read_csv("cities.csv")
cities.head()

   CityId            X            Y
0       0   316.836739  2202.340707
1       1  4377.405972   336.602082
2       2  3454.158198  2820.053011
3       3  4688.099298  2935.898056
4       4  1010.696952  3236.750989

In [35]:
cities[cities.CityId==0]['X']

0    316.836739
Name: X, dtype: float64

# Function for checking if a number is prime

In [4]:
import math

def is_prime(n):
    if n == 2:
        return True
    if n % 2 == 0 or n <= 1:
        return False

    sqr = int(math.sqrt(n)) + 1

    for divisor in range(3, sqr, 2):
        if n % divisor == 0:
            return False
    return True

# Functions for computing the distance

In [86]:
def euclidean_dist(id_a, id_b):
    a_coordinates = cities[cities.CityId==id_a].values.tolist()[0]
    b_coordinates = cities[cities.CityId==id_b].values.tolist()[0]
    partial_sum_X = np.power(a_coordinates[0] - b_coordinates[0], 2)
    partial_sum_Y = np.power(a_coordinates[1] - b_coordinates[1], 2)
    distance = np.sqrt(partial_sum_X + partial_sum_Y)
    return(distance)

Test the function

In [126]:
euclidean_dist(0,1)

1.4142135623730951

In [155]:
def cities_distance(cities_path):
    distance = 0
    for index in range(1, len(cities_path)):
        city_a = cities_path[index - 1]
        city_b = cities_path[index]
        a_b_dist = euclidean_dist(city_a, city_b)        
        if (index % 10 == 0 & is_prime(city_b) == False):
            print("I'm not prime and index multiple of 10!")
            distance = distance + a_b_dist * 1.1 
        else:
            distance = distance + a_b_dist
        print("Index {}, a_b_distance: {}, overall_distance: {}".format(index, a_b_dist, distance))
    return(distance)

# Debug

In [156]:
cities_x = [1,2,3,4,5,6,7,8,9,10, 6]
cities_y = [1,2,3,4,0,1,2,3,4,5, 5]
cities_id = [0, 1,2,3,4,5,6,7,8,9, 11]
test_seq = [0,1,2,3,4,5,6,7,8,9, 11]

In [157]:
# Create a zipped list of tuples from above lists
zippedList =  list(zip(cities_id, cities_x, cities_y))
cities = pd.DataFrame(zippedList, columns = ['CityId' , 'X', 'Y'])

In [158]:
cities

    CityId   X  Y
0        0   1  1
1        1   2  2
2        2   3  3
3        3   4  4
4        4   5  0
5        5   6  1
6        6   7  2
7        7   8  3
8        8   9  4
9        9  10  5
10      11   6  5

In [159]:
cities_distance(test_seq)

Index 1, a_b_distance: 1.4142135623730951, overall_distance: 1.4142135623730951
Index 2, a_b_distance: 1.4142135623730951, overall_distance: 2.8284271247461903
Index 3, a_b_distance: 1.4142135623730951, overall_distance: 4.242640687119286
Index 4, a_b_distance: 1.4142135623730951, overall_distance: 5.656854249492381
Index 5, a_b_distance: 1.4142135623730951, overall_distance: 7.0710678118654755
Index 6, a_b_distance: 1.4142135623730951, overall_distance: 8.485281374238571
Index 7, a_b_distance: 1.4142135623730951, overall_distance: 9.899494936611667
Index 8, a_b_distance: 1.4142135623730951, overall_distance: 11.313708498984763
Index 9, a_b_distance: 1.4142135623730951, overall_distance: 12.727922061357859
I'm not prime and index multiple of 10!
Index 10, a_b_distance: 4.47213595499958, overall_distance: 17.6472716118574

17.6472716118574